
# Eclipse
.classpath
.project
.settings/
# Intellij
.idea/
*.iml
*.iws
/out/
# Mac
.DS_Store
# Maven
log/
target/
dependency-reduced-pom.xml
# I dont want it
bin/
#Not for people to see -.-
src/main/java/com/gamerking195/dev/pluginupdater/util/UtilEncryption.java
src/main/java/com/gamerking195/dev/pluginupdater/util/UtilSpigotCreds.java
src/test/
